### Scraping WHO site for Outbreak of Diseases by Year Using python Beautiful soup
1. General Cite: http://www.who.int/csr/don/en/
2. For Diseases by Year http://www.who.int/csr/don/archive/year/en/

In [2]:
import requests
#download the webpage, this returns a request as 200 meaning dowloaded
page1996 = requests.get("http://www.who.int/csr/don/archive/year/1996/en/")
page1996

### 1996

In [4]:
#parsing the content of the page via html parser
from bs4 import BeautifulSoup
soup1 = BeautifulSoup(page1996.content, 'html.parser')

In [ ]:
#printing html content formally in an ordered fashion
#print(soup.prettify())

In [37]:
auto1 = soup1.find("ul", "auto_archive")
auto1

In [8]:
date_tags1 = auto1.find_all("a")
disease_date1= [pt.get_text() for pt in date_tags1]
disease_date1

['24 December 1996',
 '20 December 1996',
 '13 December 1996',
 '13 December 1996',
 '6 December 1996',
 '6 December 1996',
 '6 December 1996',
 '5 December 1996',
 '3 December 1996',
 '28 November 1996',
 '28 November 1996',
 '28 November 1996',
 '25 November 1996',
 '22 November 1996',
 '20 November 1996',
 '19 November 1996',
 '18 November 1996',
 '15 November 1996',
 '15 November 1996',
 '12 November 1996',
 '12 November 1996',
 '5 November 1996',
 '1 November 1996',
 '31 October 1996',
 '31 October 1996',
 '24 October 1996',
 '21 October 1996',
 '18 October 1996',
 '17 October 1996',
 '17 October 1996',
 '15 October 1996',
 '15 October 1996',
 '14 October 1996',
 '4 October 1996',
 '2 October 1996',
 '24 September 1996',
 '18 September 1996',
 '12 September 1996',
 '9 September 1996',
 '3 September 1996',
 '2 September 1996',
 '2 September 1996',
 '28 August 1996',
 '21 August 1996',
 '21 August 1996',
 '14 August 1996',
 '14 August 1996',
 '14 August 1996',
 '13 August 1996',
 '13 August 1996',
 '12 August 1996',
 '12 August 1996',
 '12 August 1996',
 '6 August 1996',
 '6 August 1996',
 '2 August 1996',
 '30 July 1996',
 '30 July 1996',
 '26 July 1996',
 '19 July 1996',
 '19 July 1996',
 '19 July 1996',
 '18 July 1996',
 '11 July 1996',
 '5 July 1996',
 '5 July 1996',
 '14 June 1996',
 '14 June 1996',
 '14 June 1996',
 '14 June 1996',
 '3 June 1996',
 '31 May 1996',
 '28 May 1996',
 '20 May 1996',
 '15 May 1996',
 '3 May 1996',
 '30 April 1996',
 '26 April 1996',
 '26 April 1996',
 '17 April 1996',
 '11 April 1996',
 '4 April 1996',
 '4 April 1996',
 '28 March 1996',
 '27 March 1996',
 '21 March 1996',
 '19 March 1996',
 '15 March 1996',
 '15 March 1996',
 '15 March 1996',
 '12 March 1996',
 '12 March 1996',
 '7 March 1996',
 '7 March 1996',
 '6 March 1996',
 '6 March 1996',
 '6 March 1996',
 '1 March 1996',
 '1 March 1996',
 '1 March 1996',
 '29 February 1996',
 '29 February 1996',
 '19 February 1996',
 '19 February 1996',
 '19 February 1996',
 '15 February 1996',
 '8 February 1996',
 '5 February 1996',
 '2 February 1996',
 '22 January 1996',
 '22 January 1996',
 '22 January 1996',
 '22 January 1996',
 '22 January 1996',
 '22 January 1996']

In [9]:
disease_tag1 = auto1.find_all("span", "link_info")
disease_name1= [pt.get_text() for pt in disease_tag1]
disease_name1

['1996 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 9',
 '1996 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 8',
 '1996 - Cholera in Rwanda and Zaire',
 '1996 - E.coli O157 infection in UK',
 '1996 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 7',
 '1996 - Yellow fever in Ghana - Update',
 '1996 - Cholera in refugees: Kigoma, Tanzania',
 '1996 - Yellow Fever in Ghana',
 '1996 - Health conditions for travellers to Saudi Arabia - Pilgrimage to Mecca (Hajj)',
 '1996 - Dengue/dengue haemorrhagic fever in India - Update 4',
 '1996 - Ebola haemorrhagic fever in South Africa - Update 2',
 '1996 - Rwanda repatriation movement',
 '1996 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 6',
 '1996 - Ebola haemorrhagic fever in South Africa - Update',
 '1996 - Dengue/dengue haemorrhagic fever in India - Update 3',
 '1996 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 5',
 '1996 - Ebola haemorrhagic fever in South Africa',
 '1996 - Dengue/dengue haemorrhagic fever in India - Update 2',
 '1996 - Cholera in Zaire (new outbreak)',
 '1996 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 4',
 '1996 - Dengue haemorrhagic fever in India',
 '1996 - Crimean-Congo Haemorrhagic Fever in South Africa',
 '1996 - Yellow fever in Benin - Update',
 '1996 - Dengue/dengue haemorrhagic fever in India - Update',
 '1996 - Yellow fever in travellers',
 '1996 - Dengue/dengue haemorrhagic fever in India - Update',
 '1996 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 3',
 '1996 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 2',
 '1996 - Dengue/dengue haemorrhagic fever in India',
 '1996 - Cholera in Africa',
 '1996 - Outbreak of viral meningitis in Romania',
 '1996 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update',
 '1996 - Ebola haemorrhagic fever in Gabon (new outbreak)',
 '1996 - Japanese encephalitis in Nepal',
 '1996 - Yellow Fever in Benin',
 '1996 - Viral meningitis in Romania - Update 3',
 '1996 - Polio outbreak in Albania',
 '1996 - Cholera in the Philipines (new outbreak)',
 '1996 - Viral Meningitis in Romania - Update 2',
 '1996 - Viral Meningitis in Romania - Update',
 '1996 - Viral Meningitis in Romania - Suspected',
 '1996 - Meningitis in Uganda',
 '1996 - Enterohaemorrhagic Escherichia coli in Japan - Update',
 '1996 - Cholera in Mongolia - Update 2',
 '1996 - Viral meningitis in Cyprus - Update',
 '1996 - Cholera in Liberia',
 '1996 - Cerebrospinal meningitis in Mozambique - Update',
 '1996 - Cholera in Mongolia - Update',
 '1996 - Dengue/dengue haemorrhagic fever in Venezuela',
 '1996 - Cholera in Mongolia',
 '1996 - Outbreak of food-borne intoxication in India',
 '1996 - Viral meningitis in Cyprus',
 '1996 - Influenza and malaria in Ghana',
 '1996 - Typhoid fever in Tajikistan - Update',
 '1996 - Venezuelan Equine Encephalitis in Mexico',
 '1996 - Typhoid fever in Tajikistan',
 '1996 - Lassa fever in Sierra Leone - Update 3',
 '1996 - Cerebrospinal meningitis in Angola',
 '1996 - Enterohaemorrhagic Escherichia Coli in Japan',
 '1996 - Diphtheria in Laos and Thailand',
 '1996 - Cholera in Chad - Update',
 '1996 - Cholera in Nigeria - Update 4',
 '1996 - Dengue/dengue haemorrhagic fever in the Philippines and Malaysia',
 '1996 - Cerebrospinal meningitis in Mozambique',
 '1996 - Cholera in Chad',
 '1996 - Cholera in Zaire - Update',
 '1996 - Lassa fever in Sierra Leone - Update 2',
 '1996 - Dengue/dengue haemorrhagic fever in Malaysia and Indonesia',
 '1996 - Cholera in the Philippines',
 '1996 - Cholera in Malaysia',
 '1996 - Meningococcal infection in the Balearic Isles (Spain) - Update',
 '1996 - Meningococcal infection in Balearic Isles (Spain)',
 '1996 - Lassa fever in Sierra Leone - Confirmed',
 '1996 - Cholera in Malaysia',
 '1996 - Lassa fever in Sierra Leone - Suspected',
 '1996 - Meningococcal meningitis in Mali',
 '1996 - Ebola-Reston Investigation, Philippines - Update',
 '1996 - Cholera in Liberia',
 '1996 - Ebola haemorrhagic fever in Gabon - Update 3',
 '1996 - Ebola-like Reston virus in monkeys',
 '1996 - Buffalopox in India',
 '1996 - Bovine Spongiform Encephalopathy (BSE) - Update',
 '1996 - Cholera in Zaire',
 '1996 - Bovine Spongiform Encephalopathy (BSE)',
 '1996 - Cerebrospinal meningitis in Africa (summary) - Update 2',
 '1996 - Creutzfeldt-Jakob Disease (CJD)',
 '1996 - Cerebrospinal meningitis in Africa (summary) - Update',
 '1996 - Cholera in Nigeria - Update 3',
 '1996 - Cerebrospinal meningitis in Africa (summary)',
 '1996 - Cholera in Senegal',
 '1996 - Cerebrospinal meningitis in Chad',
 '1996 - Cerebrospinal meningitis in Nigeria - Update 2',
 '1996 - Cholera in Nigeria - Update 2',
 '1996 - Cerebrospinal meningitis in Nigeria - Update',
 '1996 - Global Cholera Update 2',
 '1996 - Meningococcal meningitis in Nigeria',
 '1996 - Cholera in Nigeria - Update',
 '1996 - Cholera in Nigeria',
 '1996 - Meningococcal meningitis in Nigeria',
 '1996 - Ebola haemorrhagic fever in Gabon - Update 2',
 '1996 - Cholera in Ecuador',
 '1996 - Ebola haemorrhagic fever in Gabon - Update',
 '1996 - Cerebrospinal meningitis in Burkina Faso',
 '1996 - Ebola haemorrhagic fever in Gabon',
 '1996 - Cerebrospinal meningitis in Nigeria',
 '1996 - Cholera in Africa',
 '1996 - Iran free of Cholera',
 '1996 - Haemorrhagic fever with renal syndrome in Bosnia and Herzegovina',
 '1996 - Yellow fever in Liberia',
 '1996 - Global Cholera Update',
 '1996 - Dengue in the Americas',
 "1996 - Ebola infection in Côte d'Ivoire/Liberia",
 '1996 - Meningococcal meningitis in Brazil',
 '1996 - Typhoid fever in Algeria',
 '1996 - Cholera in Burundi']

In [11]:
# Saving into a dataframe
import pandas as pd
dis1996 = pd.DataFrame({
        "Date": disease_date1, 
        "Disease Name": disease_name1})
dis1996.head()

               Date                                       Disease Name
0  24 December 1996  1996 - Ebola haemorrhagic fever in Gabon (new ...
1  20 December 1996  1996 - Ebola haemorrhagic fever in Gabon (new ...
2  13 December 1996                 1996 - Cholera in Rwanda and Zaire
3  13 December 1996                 1996 - E.coli O157 infection in UK
4   6 December 1996  1996 - Ebola haemorrhagic fever in Gabon (new ...

In [12]:
dis1996.to_csv("1996 Diseases", index= False)

### 1997

In [13]:
#download the webpage, this returns a request as 200 meaning dowloaded
page1997 = requests.get("http://www.who.int/csr/don/archive/year/1997/en/")
page1997

In [17]:
soup2 = BeautifulSoup(page1997.content, 'html.parser')

In [20]:
auto2 = soup2.find("ul", "auto_archive")

In [22]:
date_tags2 = auto2.find_all("a")
disease_date2= [pt.get_text() for pt in date_tags2]
disease_date2

['26 November 1997',
 '26 November 1997',
 '21 November 1997',
 '21 November 1997',
 '19 November 1997',
 '14 November 1997',
 '14 November 1997',
 '31 October 1997',
 '30 October 1997',
 '28 October 1997',
 '28 October 1997',
 '27 October 1997',
 '10 October 1997',
 '2 October 1997',
 '2 October 1997',
 '22 September 1997',
 '2 September 1997',
 '2 September 1997',
 '2 September 1997',
 '11 August 1997',
 '8 August 1997',
 '31 July 1997',
 '31 July 1997',
 '30 July 1997',
 '7 July 1997',
 '3 July 1997',
 '26 June 1997',
 '19 June 1997',
 '19 June 1997',
 '18 June 1997',
 '10 June 1997',
 '6 June 1997',
 '5 June 1997',
 '4 June 1997',
 '22 May 1997',
 '20 May 1997',
 '9 May 1997',
 '6 May 1997',
 '6 May 1997',
 '6 May 1997',
 '1 May 1997',
 '24 April 1997',
 '24 April 1997',
 '15 April 1997',
 '15 April 1997',
 '14 April 1997',
 '11 April 1997',
 '28 March 1997',
 '27 March 1997',
 '21 March 1997',
 '21 March 1997',
 '21 March 1997',
 '12 March 1997',
 '11 March 1997',
 '6 March 1997',
 '2 March 1997',
 '28 February 1997',
 '28 February 1997',
 '28 February 1997',
 '20 February 1997',
 '7 February 1997',
 '7 February 1997',
 '7 February 1997',
 '31 January 1997',
 '31 January 1997',
 '27 January 1997',
 '24 January 1997',
 '22 January 1997',
 '21 January 1997',
 '20 January 1997',
 '17 January 1997',
 '17 January 1997',
 '16 January 1997',
 '9 January 1997',
 '8 January 1997',
 '8 January 1997',
 '2 January 1997']

In [23]:
disease_tag2 = auto2.find_all("span", "link_info")
disease_name2= [pt.get_text() for pt in disease_tag2]
disease_name2

['1997 - Cholera in Mozambique - Update 4',
 '1997 - Cholera in Djibouti - Update',
 '1997 - Plague in Mozambique - Update',
 '1997 - Cholera in Djibouti',
 '1997 - Cholera in Mozambique - Update 3',
 '1997 - Cholera in Mozambique - Update 2',
 '1997 - Monkeypox in the Democratic Republic of the Congo (former Zaire) - Update',
 '1997 - Absence of Lassa fever in Ghana',
 '1997 - Plague in Malawi',
 '1997 - Cholera in Mozambique - Update',
 '1997 - Cholera in Kenya',
 '1997 - Leptospirosis in India',
 '1997 - Encephalitis in Nepal - Update',
 '1997 - Transmissible spongiform encephalopathies (TSEs)',
 '1997 - Hantavirus Pulmonary Syndrome in the Americas',
 '1997 - Cholera in Kenya',
 '1997 - Meningitis in Zimbabwe',
 '1997 - Cholera in Mozambique',
 '1997 - Encephalitis in Nepal',
 '1997 - Yellow fever in Liberia',
 '1997 - Plague in Mozambique',
 '1997 - Dengue outbreak in Malaysia',
 '1997 - Monkeypox in the Democratic Republic of the Congo (former Zaire)',
 '1997 - Cholera in Central African Republic',
 '1997 - Viral meningitis in Gaza',
 '1997 - Fatal myocarditis in Malaysia - Update 4',
 '1997 - Fatal myocarditis in Malaysia - Update 3',
 '1997 - Fatal myocarditis in Malaysia - Update 2',
 '1997 - Vancomycin resistant Staphylococcus aureus',
 '1997 - Dengue in Cuba',
 '1997 - Fatal myocarditis in Malaysia - Update',
 '1997 - Fatal myocarditis in Malaysia',
 '1997 - Anthrax in Ghana',
 '1997 - Cholera in Somalia',
 '1997 - Lassa fever in Sierra Leone - Update 2',
 '1997 - International Travel and Health',
 '1997 - Cholera in Somalia - Update',
 '1997 - Rabies post-exposure treatment',
 '1997 - Cholera in Tanzania',
 '1997 - Louse-borne typhus in Burundi',
 '1997 - Lassa fever in Sierra Leone - Update',
 '1997 - Surveillance Standards',
 '1997 - Monkeypox',
 '1997 - Cholera in Somalia',
 '1997 - Cholera in Zaire',
 '1997 - Monkeypox changes its pattern of human infection',
 '1997 - Meningitis in West Africa',
 '1997 - Medical Impact of Use of Antimicrobial drugs in Food Animals',
 '1997 - Meningitis in West Africa',
 '1997 - Meningitis in Ghana - Update',
 '1997 - Lassa fever in Sierra Leone',
 '1997 - Monkeypox in the Democratic Republic of the Congo (former Zaire)',
 "1997 - O'nyong-nyong (ONN) fever in Uganda",
 '1997 - Yellow Fever in Bolivia',
 '1997 - Meningitis in Ghana',
 '1997 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 16',
 '1997 - Dengue fever in the Cook Islands',
 '1997 - Typhoid fever in Tadjikistan',
 '1997 - Meningococcal disease in Spain',
 '1997 - Influenza vaccine for 1997-1998 season',
 '1997 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 15',
 '1997 - Bubonic plague in Zambia',
 '1997 - Meningitis outbreak in Togo - Update 2',
 '1997 - Meningitis in West Africa',
 '1997 - Bubonic Plague in Zambia',
 '1997 - Meningitis outbreak in Togo - Update',
 '1997 - Meningitis outbreak in Togo',
 '1997 - Cholera in Bolivia',
 '1997 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 14',
 '1997 - Health situation in Rwandan refugee camp in Zaire',
 '1997 - Measles in Guadeloupe',
 '1997 - Cholera in Burundi - Update',
 '1997 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 13',
 '1997 - Cholera in Burundi',
 '1997 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 11',
 '1997 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 12',
 '1997 - Ebola haemorrhagic fever in Gabon (new outbreak) - Update 10']

In [24]:
# Saving into a dataframe
import pandas as pd
dis1997 = pd.DataFrame({
        "Date": disease_date2, 
        "Disease Name": disease_name2})
dis1997.head()

               Date                             Disease Name
0  26 November 1997  1997 - Cholera in Mozambique - Update 4
1  26 November 1997      1997 - Cholera in Djibouti - Update
2  21 November 1997     1997 - Plague in Mozambique - Update
3  21 November 1997               1997 - Cholera in Djibouti
4  19 November 1997  1997 - Cholera in Mozambique - Update 3

In [25]:
dis1997.to_csv("1997 Diseases", index= False)

### 1998

In [26]:
#download the webpage, this returns a request as 200 meaning dowloaded
page1998 = requests.get("http://www.who.int/csr/don/archive/year/1998/en/")
page1998

In [27]:
soup3 = BeautifulSoup(page1998.content, 'html.parser')

In [28]:
auto3 = soup3.find("ul", "auto_archive")

In [31]:
date_tags3 = auto3.find_all("a")
disease_date3= [pt.get_text() for pt in date_tags3]
disease_date3[0:3]

['23 December 1998', '22 December 1998', '22 December 1998']

In [34]:
disease_tag3 = auto3.find_all("span", "link_info")
disease_name3= [pt.get_text() for pt in disease_tag3]
disease_name3[0]

'1998 - Influenza in China'

In [35]:
# Saving into a dataframe
import pandas as pd
dis1998 = pd.DataFrame({
        "Date": disease_date3, 
        "Disease Name": disease_name3})
dis1998.head()

               Date                                       Disease Name
0  23 December 1998                          1998 - Influenza in China
1  22 December 1998                1998 - Yellow fever in Burkina Faso
2  22 December 1998  1998 - Meningitis in Democratic Republic of Congo
3  18 December 1998          1998 - Cholera/acute diarrhoea in Somalia
4   4 December 1998       1998 - food poisoning in northern Mozambique

In [36]:
dis1998.to_csv("1998 Diseases", index= False)

### 1999

In [38]:
#download the webpage, this returns a request as 200 meaning dowloaded
page1999 = requests.get("http://www.who.int/csr/don/archive/year/1999/en/")
page1999

In [39]:
soup4 = BeautifulSoup(page1999.content, 'html.parser')

In [40]:
auto4 = soup4.find("ul", "auto_archive")

In [41]:
date_tags4 = auto4.find_all("a")
disease_date4= [pt.get_text() for pt in date_tags4]
disease_date4[0:3]

['22 December 1999', '17 December 1999', '10 December 1999']

In [42]:
disease_tag4 = auto4.find_all("span", "link_info")
disease_name4= [pt.get_text() for pt in disease_tag4]
disease_name4[0]

'1999 - Cholera, Comoros'

In [43]:
# Saving into a dataframe
import pandas as pd
dis1999 = pd.DataFrame({
        "Date": disease_date4, 
        "Disease Name": disease_name4})
dis1999.head()

               Date                                       Disease Name
0  22 December 1999                            1999 - Cholera, Comoros
1  17 December 1999  1999 - New variant Creuzfeldt-Jakob disease, F...
2  10 December 1999   1999 - Cholera, Democratic Republic of the Congo
3   9 December 1999   1999 - Cholera, Democratic Republic of the Congo
4  23 November 1999      1999 - Yellow fever, United States of America

In [44]:
dis1999.to_csv("1999 Diseases", index= False)

### 2000 - 2005

In [46]:
#download the webpage, this returns a request as 200 meaning dowloaded
page2000 = requests.get("http://www.who.int/csr/don/archive/year/2000/en/")
page2001 = requests.get("http://www.who.int/csr/don/archive/year/2001/en/")
page2002 = requests.get("http://www.who.int/csr/don/archive/year/2002/en/")
page2003 = requests.get("http://www.who.int/csr/don/archive/year/2003/en/")
page2004 = requests.get("http://www.who.int/csr/don/archive/year/2004/en/")
page2005 = requests.get("http://www.who.int/csr/don/archive/year/2005/en/")
print("2000:", page2000, "2001:", page2001, "2002:", page2002, "2003:", page2003,"2004:", page2004, "2005:", page2005)

2000: <Response [200]> 2001: <Response [200]> 2002: <Response [200]> 2003: <Response [200]> 2004: <Response [200]> 2005: <Response [200]>

In [47]:
soup5 = BeautifulSoup(page2000.content, 'html.parser')
soup6 = BeautifulSoup(page2001.content, 'html.parser')
soup7 = BeautifulSoup(page2002.content, 'html.parser')
soup8 = BeautifulSoup(page2003.content, 'html.parser')
soup9 = BeautifulSoup(page2004.content, 'html.parser')
soup10 = BeautifulSoup(page2005.content, 'html.parser')

In [48]:
auto5 = soup5.find("ul", "auto_archive")
auto6 = soup6.find("ul", "auto_archive")
auto7 = soup7.find("ul", "auto_archive")
auto8 = soup8.find("ul", "auto_archive")
auto9 = soup9.find("ul", "auto_archive")
auto10 = soup10.find("ul", "auto_archive")

In [60]:
date_tags5 = auto5.find_all("a")
disease_date5= [pt.get_text() for pt in date_tags5]
print(disease_date5[0:3])

date_tags6 = auto6.find_all("a")
disease_date6= [pt.get_text() for pt in date_tags6]
print(disease_date6[0:3])

date_tags7 = auto7.find_all("a")
disease_date7= [pt.get_text() for pt in date_tags7]
print(disease_date7[0:3])

date_tags8 = auto8.find_all("a")
disease_date8= [pt.get_text() for pt in date_tags8]
print(disease_date8[0:3])

date_tags9 = auto9.find_all("a")
disease_date9= [pt.get_text() for pt in date_tags9]
print(disease_date9[0:3])

['29 December 2000', '29 December 2000', '29 December 2000']
['31 December 2002', '28 December 2001', '24 December 2001']
['20 December 2002', '12 December 2002', '29 November 2002']
['30 December 2003', '28 December 2003', '23 December 2003']
['30 December 2004', '15 December 2004', '3 December 2004']

In [66]:
date_tags10 = auto10.find_all("a")
disease_date10= [pt.get_text() for pt in date_tags10]
print(disease_date10[0:3])

['30 December 2005', '23 December 2005', '19 December 2005']

In [67]:
len(disease_date10)

162

In [63]:
disease_tag5 = auto5.find_all("span", "link_info")
disease_name5= [pt.get_text() for pt in disease_tag5]
print(disease_name5[0])

disease_tag6 = auto6.find_all("span", "link_info")
disease_name6= [pt.get_text() for pt in disease_tag6]
print(disease_name6[0])

disease_tag7 = auto7.find_all("span", "link_info")
disease_name7= [pt.get_text() for pt in disease_tag7]
print(disease_name7[0])

disease_tag8 = auto8.find_all("span", "link_info")
disease_name8= [pt.get_text() for pt in disease_tag8]
print(disease_name8[0])

disease_tag9 = auto9.find_all("span", "link_info")
disease_name9= [pt.get_text() for pt in disease_tag9]
print(disease_name9[0])

2000 - Cholera in South Africa - Update 10
2001 - Ebola haemorrhagic fever in Gabon/The Republic of the Congo - Update 10
2002 - Acute respiratory syndrome in Democratic Republic of the Congo - Update 2
Suspected Severe Acute Respiratory Syndrome (SARS) case in southern China - update
Avian influenza – situation in Viet Nam

In [71]:
disease_tag10 = auto10.find_all("span", "link_info")
disease_name10= [pt.get_text() for pt in disease_tag10]
print(disease_name10[47])

Situation assessment and implications for human health

In [73]:
del disease_name10[47]

In [74]:
len(disease_name10)

162

In [53]:
dis2000 = pd.DataFrame({
        "Date": disease_date5, 
        "Disease Name": disease_name5})

In [54]:

dis2001 = pd.DataFrame({
        "Date": disease_date6, 
        "Disease Name": disease_name6})

In [55]:
dis2002 = pd.DataFrame({
        "Date": disease_date7, 
        "Disease Name": disease_name7})

In [56]:
dis2003 = pd.DataFrame({
        "Date": disease_date8, 
        "Disease Name": disease_name8})

In [57]:
dis2004 = pd.DataFrame({
        "Date": disease_date9, 
        "Disease Name": disease_name9})

In [75]:
dis2005 = pd.DataFrame({"Date": disease_date10, "Disease Name": disease_name10})

In [70]:
dis2000.to_csv("2000 Diseases", index= False)
dis2001.to_csv("2001 Diseases", index= False)
dis2002.to_csv("2002 Diseases", index= False)
dis2003.to_csv("2003 Diseases", index= False)
dis2004.to_csv("2004 Diseases", index= False)

In [76]:
dis2005.to_csv("2005 Diseases", index= False)

#### 2006 -2018

In [78]:
#download the webpage, this returns a request as 200 meaning dowloaded
page2006 = requests.get("http://www.who.int/csr/don/archive/year/2006/en/")
page2007 = requests.get("http://www.who.int/csr/don/archive/year/2007/en/")
page2008 = requests.get("http://www.who.int/csr/don/archive/year/2008/en/")
page2009 = requests.get("http://www.who.int/csr/don/archive/year/2009/en/")
page2010 = requests.get("http://www.who.int/csr/don/archive/year/2010/en/")
page2011 = requests.get("http://www.who.int/csr/don/archive/year/2011/en/")

page2012 = requests.get("http://www.who.int/csr/don/archive/year/2012/en/")
page2013 = requests.get("http://www.who.int/csr/don/archive/year/2013/en/")
page2014 = requests.get("http://www.who.int/csr/don/archive/year/2014/en/")
page2015 = requests.get("http://www.who.int/csr/don/archive/year/2015/en/")
page2016 = requests.get("http://www.who.int/csr/don/archive/year/2016/en/")
page2017 = requests.get("http://www.who.int/csr/don/archive/year/2017/en/")
page2018 = requests.get("http://www.who.int/csr/don/archive/year/2018/en/")
print("2012:", page2012, "2013:", page2013, "2014:", page2014, "2015:", page2015,"2016:", page2016, "2017:", page2017,
     "2018:", page2018, "2007:", page2007, "2008:", page2008, "2009:", page2009,"2010:", page2010, "2011:", page2011,
     "2011:", page2011)

2012: <Response [200]> 2013: <Response [200]> 2014: <Response [200]> 2015: <Response [200]> 2016: <Response [200]> 2017: <Response [200]> 2018: <Response [200]> 2007: <Response [200]> 2008: <Response [200]> 2009: <Response [200]> 2010: <Response [200]> 2011: <Response [200]> 2011: <Response [200]>

In [79]:
soup11 = BeautifulSoup(page2006.content, 'html.parser')
soup12 = BeautifulSoup(page2007.content, 'html.parser')
soup13= BeautifulSoup(page2008.content, 'html.parser')
soup14 = BeautifulSoup(page2009.content, 'html.parser')
soup15 = BeautifulSoup(page2010.content, 'html.parser')
soup16 = BeautifulSoup(page2011.content, 'html.parser')

soup17 = BeautifulSoup(page2012.content, 'html.parser')
soup18 = BeautifulSoup(page2013.content, 'html.parser')
soup19= BeautifulSoup(page2014.content, 'html.parser')
soup20 = BeautifulSoup(page2015.content, 'html.parser')
soup21 = BeautifulSoup(page2016.content, 'html.parser')
soup22 = BeautifulSoup(page2017.content, 'html.parser')
soup23 = BeautifulSoup(page2018.content, 'html.parser')

In [80]:
auto11 = soup11.find("ul", "auto_archive")
auto12 = soup12.find("ul", "auto_archive")
auto13 = soup13.find("ul", "auto_archive")
auto14 = soup14.find("ul", "auto_archive")
auto15 = soup15.find("ul", "auto_archive")
auto16 = soup16.find("ul", "auto_archive")

auto17 = soup17.find("ul", "auto_archive")
auto18 = soup18.find("ul", "auto_archive")
auto19 = soup19.find("ul", "auto_archive")
auto20 = soup20.find("ul", "auto_archive")
auto21 = soup21.find("ul", "auto_archive")
auto22 = soup22.find("ul", "auto_archive")
auto23 = soup23.find("ul", "auto_archive")

In [81]:
date_tags11 = auto11.find_all("a")
disease_date11= [pt.get_text() for pt in date_tags11]
print(disease_date11[0:3])

date_tags12 = auto12.find_all("a")
disease_date12= [pt.get_text() for pt in date_tags12]
print(disease_date12[0:3])

date_tags13 = auto13.find_all("a")
disease_date13= [pt.get_text() for pt in date_tags13]
print(disease_date13[0:3])

date_tags14 = auto14.find_all("a")
disease_date14= [pt.get_text() for pt in date_tags14]
print(disease_date14[0:3])

date_tags15 = auto15.find_all("a")
disease_date15= [pt.get_text() for pt in date_tags15]
print(disease_date15[0:3])

date_tags16 = auto16.find_all("a")
disease_date16= [pt.get_text() for pt in date_tags16]
print(disease_date16[0:3])

date_tags17 = auto17.find_all("a")
disease_date17= [pt.get_text() for pt in date_tags17]
print(disease_date17[0:3])

date_tags18 = auto18.find_all("a")
disease_date18= [pt.get_text() for pt in date_tags18]
print(disease_date18[0:3])

date_tags19 = auto19.find_all("a")
disease_date19= [pt.get_text() for pt in date_tags19]
print(disease_date19[0:3])

date_tags20 = auto20.find_all("a")
disease_date20= [pt.get_text() for pt in date_tags20]
print(disease_date20[0:3])

date_tags21 = auto21.find_all("a")
disease_date21= [pt.get_text() for pt in date_tags21]
print(disease_date21[0:3])

date_tags22 = auto22.find_all("a")
disease_date22= [pt.get_text() for pt in date_tags22]
print(disease_date22[0:3])

date_tags23 = auto23.find_all("a")
disease_date23= [pt.get_text() for pt in date_tags23]
print(disease_date23[0:3])

['27 December 2006', '27 December 2006', '26 December 2006']
['28 December 2007', '28 December 2007', '27 December 2007']
['26 December 2008', '26 December 2008', '16 December 2008']
['30 December 2009', '23 December 2009', '21 December 2009']
['29 December 2010', '9 December 2010', '8 December 2010']
['21 December 2011', '15 December 2011', '1 December 2011']
['12 December 2012', '6 December 2012', '30 November 2012']
['31 December 2013', '27 December 2013', '22 December 2013']
['30 December 2014', '30 December 2014', '28 December 2014']
['22 December 2015', '21 December 2015', '21 December 2015']
['27 December 2016', '23 December 2016', '19 December 2016']
['22 December 2017', '22 December 2017', '22 December 2017']
['25 October 2018', '18 October 2018', '15 October 2018']

In [83]:
#for i in range(11, 24):
#    disease_tag[i] = auto[i].find_all("span", "link_info")
#    disease_name[i]= [pt.get_text() for pt in disease_tag[i]]
#   print(disease_name[i][0])

In [84]:
disease_tag11 = auto11.find_all("span", "link_info")
disease_name11= [pt.get_text() for pt in disease_tag11]
print(disease_name11[0])

disease_tag12 = auto12.find_all("span", "link_info")
disease_name12= [pt.get_text() for pt in disease_tag12]
print(disease_name12[0])

disease_tag13 = auto13.find_all("span", "link_info")
disease_name13= [pt.get_text() for pt in disease_tag13]
print(disease_name13[0])

disease_tag14 = auto14.find_all("span", "link_info")
disease_name14= [pt.get_text() for pt in disease_tag14]
print(disease_name14[0])

disease_tag15 = auto15.find_all("span", "link_info")
disease_name15= [pt.get_text() for pt in disease_tag15]
print(disease_name15[0])

disease_tag16 = auto16.find_all("span", "link_info")
disease_name16= [pt.get_text() for pt in disease_tag16]
print(disease_name16[0])

disease_tag17 = auto17.find_all("span", "link_info")
disease_name17= [pt.get_text() for pt in disease_tag17]
print(disease_name17[0])

disease_tag18 = auto18.find_all("span", "link_info")
disease_name18= [pt.get_text() for pt in disease_tag18]
print(disease_name18[0])

disease_tag19 = auto19.find_all("span", "link_info")
disease_name19= [pt.get_text() for pt in disease_tag19]
print(disease_name19[0])

disease_tag20 = auto20.find_all("span", "link_info")
disease_name20= [pt.get_text() for pt in disease_tag20]
print(disease_name20[0])

disease_tag21 = auto21.find_all("span", "link_info")
disease_name21= [pt.get_text() for pt in disease_tag21]
print(disease_name21[0])

disease_tag22 = auto22.find_all("span", "link_info")
disease_name22= [pt.get_text() for pt in disease_tag22]
print(disease_name22[0])

disease_tag23 = auto23.find_all("span", "link_info")
disease_name23= [pt.get_text() for pt in disease_tag23]
print(disease_name23[0])

Avian influenza - situation in Egypt
Avian influenza - situation in Egypt - update
Cholera in Zimbabwe - update
Pandemic (H1N1) 2009 - update 81
Avian influenza - situation in Egypt - update 39
Avian influenza - situation in Egypt - update 59
Yellow fever in the Republic of Congo
Middle East respiratory syndrome coronavirus (MERS-CoV) - update
Ebola virus disease – United Kingdom
Zika virus infection – Panama
Summary of poliovirus circulation in 2016 – Pakistan
Middle East respiratory syndrome coronavirus (MERS-CoV) – United Arab Emirates
Ebola virus disease – Democratic Republic of the Congo

In [87]:
dis2006 = pd.DataFrame({
        "Date": disease_date11, 
        "Disease Name": disease_name11})
dis2006.to_csv("2006 Diseases", index= False)

In [88]:
dis2007 = pd.DataFrame({"Date": disease_date12, "Disease Name": disease_name12})
dis2007.to_csv("2007 Diseases", index= False)

In [90]:
dis2009 = pd.DataFrame({"Date": disease_date14, "Disease Name": disease_name14})
dis2009.to_csv("2009 Diseases", index= False)

dis2010 = pd.DataFrame({"Date": disease_date15, "Disease Name": disease_name15})
dis2010.to_csv("2010 Diseases", index= False)

dis2012 = pd.DataFrame({"Date": disease_date17, "Disease Name": disease_name17})
dis2012.to_csv("2012 Diseases", index= False)

dis2013 = pd.DataFrame({"Date": disease_date18, "Disease Name": disease_name18})
dis2013.to_csv("2013 Diseases", index= False)

dis2014 = pd.DataFrame({"Date": disease_date19, "Disease Name": disease_name19})
dis2014.to_csv("2014 Diseases", index= False)

dis2015 = pd.DataFrame({"Date": disease_date20, "Disease Name": disease_name20})
dis2015.to_csv("2015 Diseases", index= False)

dis2016 = pd.DataFrame({"Date": disease_date21, "Disease Name": disease_name21})
dis2016.to_csv("2016 Diseases", index= False)

dis2017 = pd.DataFrame({"Date": disease_date22, "Disease Name": disease_name22})
dis2017.to_csv("2017 Diseases", index= False)

dis2018 = pd.DataFrame({"Date": disease_date23, "Disease Name": disease_name23})
dis2018.to_csv("2018 Diseases", index= False)

In [91]:
len(disease_date13)

72

In [92]:
len(disease_name13)

75

In [97]:
print(disease_name13[42])
print(disease_name13[47])
print(disease_name13[51])

Yellow fever vaccination tops 1.27 million in Paraguay
Mobilization against Yellow Fever in Paraguay Continues
Epidemiological situation: low levels of meningitis activity so far in 2008

In [98]:
del disease_name13[42]
del disease_name13[47]
del disease_name13[51]

In [99]:
dis2008 = pd.DataFrame({"Date": disease_date13, "Disease Name": disease_name13})
dis2008.to_csv("2008 Diseases", index= False)

In [102]:
dis2008.iloc[71]

Date                                             2 January 2008
Disease Name    Avian influenza - situation in Egypt - update 2
Name: 71, dtype: object

In [103]:
len(disease_date16)

59

In [104]:
len(disease_name16)

60

In [105]:
disease_name16[5]

'Revised 7 December 2011'

In [106]:
del disease_name16[5]

In [107]:
dis2011 = pd.DataFrame({"Date": disease_date16, "Disease Name": disease_name16})
dis2011.to_csv("2011 Diseases", index= False)